.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: black;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}













*
{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

/*header starts */

/*side menu starts */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  float: left;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*side menu ends */
 


.boxProp
{
background-color: #BE3144;
height: 50px;
width: 100%; 
position: fixed;
z-index: 100;
}

.textProp
{
color: white;
font-size: 250%;	
text-align:center;
vertical-align: middle;
box-shadow: 5px 3px 5px grey;
width: 100%;
}
#login
{
height: 40px;
width:  40px;
float: right;
margin-top: 0.4%;
margin-right:0.5%
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}


.progress-container {
  width: 100%;
  height: 4px;
  background: #ccc;
}

.progress-bar {
  height: 4px;
  background: black;
  width: 0%;
}
/*header ends*/


/* for slide show   start*/

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(121,114,97,0.5);
  height: 30px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: all;
  -webkit-animation-duration: 0.5s;
  animation-name: all;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}







.welcome-section {
  display: flex;
  flex-direction: right;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.wc1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}

.welcome-section > p {
  font-size: 16px;
  font-weight: 200;
  font-style: italic;
  color: #be3144;
}

.welcome-section > h1 {
  font-size: 32px;
  font-weight: 200;
  font-style: italic;
  color: white;
}

/* for slide show   ends*/


.header {

  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}




@-webkit-keyframes bounce {
  0% { transform: translateY(-5px)  }
  50% { transform: translateY(10px) }
  100% { transform: translateY(-5px) }
}

@keyframes bounce {
  0% { transform: translateY(-5px)  }
  50% { transform: translateY(10px) }
  100% { transform: translateY(-5px) }
}

#zio {  
  -webkit-animation: bounce 2s infinite ease-in-out;
  -o-animation: bounce 2s infinite ease-in-out;
  -ms-animation: bounce 2s infinite ease-in-out; 
  -moz-animation: bounce 2s infinite ease-in-out; 
  animation: bounce 2s infinite ease-in-out;
  /* -webkit-box-shadow: 10px 10px 37px -8px rgba(255,255,255,1);
  -moz-box-shadow: 10px 10px 37px -8px rgba(255,255,255,1);
  box-shadow: 10px 10px 37px -8px rgba(255,255,255,1); */
}


.projects-section {
  text-align: center;
  padding: 160px 32px;
  background: #45567d;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 96px auto;
  border-bottom: 3.2px solid #f0f0f0;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 64px;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 64px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 96px;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 96px 16px;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background:  #303841;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.project:hover {
  background: #be3144;
}

.code {
  color:  #303841;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 153.8px);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 32px;
  padding: 32px 8px;
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 32px;
  background: #303841;
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: #be3144;
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* event section */

#Events-heading
{
 font-family: 'Roboto', sans-serif;
  font-size: 50px;
  text-align: center;
  align-content: center;
}


*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin: 50px;
  width: 90%;
  height: 900px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;  
  background-color: #fefefe;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-top: 1%; 
}

.u-float-right {
  float: right;
}

.u-flex-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.subtle {
  color: #888;
  font-size: 18px;
}

.card-media {
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
  height: 200px;
  margin-bottom: 25px;
  transition: all 300ms ease-out;
  width: 100%;
}

.card-media:hover {
  box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
}

.card-media-object-container {
  background: none;
  float: left;
  height: 100%;
  width: 35%;
  position: relative;
}

.card-media-object {
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.card-media-object:after {
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 300ms ease-out;
  z-index: 10;
}

.card-media:hover .card-media-object:after {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0.4) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  opacity: 1;
}

.card-media-object-tag {
  background-color: #fff;
  border-radius: 2px;
  padding: 2px 7px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-media-object-social-list {
  bottom: 4px;
  left: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 20;
}

.card-media-object-social-list li {
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  margin-right: 6px;
  opacity: 0;
  overflow: hidden;
  transform: translateY(5px);
  transition: all 300ms ease-out;
  width: 30px;
}

.card-media:hover .card-media-object-social-list li {
  opacity: 1;
  transform: translateY(0);
}

.card-media-object-social-list li:nth-child(1) {
  transition-delay: 0;
}
.card-media-object-social-list li:nth-child(2) {
  transition-delay: 75ms;
}
.card-media-object-social-list li:nth-child(3) {
  transition-delay: 150ms;
}

.card-media-object-social-list-item-additional {
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  padding-top: 7px;
  text-align: center;
}

.card-media-body {
  background-color: #fff;
  float: left;
  height: 100%;
  padding: 12px 15px;
  position: relative;
  width: 65%;
}

.card-media-body-top {
  display: block;
}

.card-media-body-top-icons {
  margin-top: -2px;
  opacity: 0;
  transition: all 300ms ease-out;
  transform: translateY(-5px);
}

.card-media:hover .card-media-body-top-icons {
  opacity: 1;
  transform: translateY(0);
}

.card-media-body-top-icons > svg {
  cursor: pointer;
  margin-left: 10px;
  transition: all 300ms ease-out;
}

.card-media-body-top-icons > svg:hover {
  fill: #444;
}

.card-media-body-heading {
  display: block;
  margin-top: 10px;
}

.card-media-body-supporting-bottom {
  position: absolute;
  bottom: 10px;
  left: 0;
  opacity: 1;
  padding: 0 15px;
  transition: all 300ms ease-out;
  width: 100%;
}

.card-media:hover .card-media-body-supporting-bottom {
  opacity: 0;
  transform: translateY(-8px);
}

.card-media-body-supporting-bottom-text {
  display: inline-block;
}

.card-media-body-supporting-bottom-reveal {
  opacity: 0;
  transform: translateY(8px);
  transition: all 300ms ease-out;
}

.card-media:hover .card-media-body-supporting-bottom-reveal {
  opacity: 1;
  transform: translateY(0);
}

.card-media-link {
  color: #41C1F2;
  text-decoration: none;
}


/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 2000px;
  padding: 0 32px;
  background:  #303841;
}

.contact-section-header > h2 {
  font-size: 5px;
}

@media (max-width: 460px) {
  .contact-section-header > h2 {
    font-size: 64px;
  }
}


.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 64pxx;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 39px;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 450px;
  padding: 0  32px;
  background:  #303841;
}

.contact-section-header > h2 {
  font-size: 96px;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 64px;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 64px;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 38px;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}
